body {
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
}

#main_container {
    width: 100vw;
    display: flex;
}
.left-menu-section {
    flex: 1;
    margin-left: 100px;
    position: fixed;
    top: 100px;
}
.outer-ul {
    font-size: large;
    text-overflow:clip;
    overflow: hidden;

}
.outer-ul h6 {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.right-menu-section {
    flex: 3;
    width: 60%;
    margin-right: 6.2%;
    margin-left: 30%;
    margin-top: 2%;
}

.right-menu-section hr {
    width: 860px;
    height: 1px;
    background-color: black;
    margin-left: 0px;
    
}

.threeLine {
    width: 100px;
    height: 60px;   
    margin-left: 10%;
    margin-top: -4%;
    
}
