.btn{
    width: 180px;
    height: 45px;
    border-radius: 30px;
    background-color: #E4002B;
    border: 1px solid #E4002B;
    color: white;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 5px;
    cursor: pointer;
}

/* //js format */

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Fira Sans Condensed', sans-serif;
}


#header{
    display: flex;
    margin-top: 20px;
}


#header #div2 {
    margin-right: 22%;
    font-size: 1.5rem;
}

#div1{
    width: 92rem;
    height: 50px;
    font-size: 2rem;
    margin-left: 40%;
    
}
#section2{
    text-align: center;
    justify-content: center;
    margin-top:4%;
    font-size: 38px;
}
#section2 button{
    border-radius: 200px;
    border: 1.5px solid #202124;
    width: 22rem ;
    height: 3rem;
    background: none transparent;
    color: #202124;
    margin-bottom: 1.7rem;
}

.div1{
    margin-bottom: 2.5%;
}

.div1 button {
    cursor: pointer;
}

.cutSign {
    text-decoration: none;
    color: black;
    font-weight: 900;
}

.cutSign:hover {
    color:#E4002B;
    font-size: 25px;
}

.startOrderDiv {
    position: absolute;
    margin: auto;
    width: 60%;
    height: 80%;
    left: 20%;
    top: 10%;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
    align-items: center;
}

/* redeemmm */
.content{
    width: 60%;
    height: 80%;
    left: 20%;
    top: 10%;
}
.mdl{
    position: absolute;
    width: 60%;
    height: 80%;
    left: 20%;
    top: 10%;
    padding: 2% 1%;
    background: #fff;
    border-radius: 5px 5px 0 0;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: #202124;
    border-bottom: 1px solid #dbdbdb;
}
.btn1 {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    background-color: transparent;
    border: 1px solid #202124;
    color: #202124;
    margin-left: 40%;
    margin-top: 35%;
}

.btn1:hover {
    background-color: #202124;
    color: #f8f7f5;
    cursor: pointer;
}